{% extends 'base.html' %}

{% block 'title' %}List of Kaizens{% endblock %}

{% block 'content' %}
    <h1>List of User-submitted Kaizens</h1>

    {% for idea in idea_list %}
		<a href="{% url 'kaizen:ideadetail' idea.id %}">
			<div {% ifequal idea.profile.user request.user %} class="marker" {% else %} class="kaizen" {% endifequal %}>
				<p class="status">Status: <span class="stats">{{ idea.get_status_display }}</span></p>
				<h3>{{ idea.title }}</h3>
				<p>Submitted by <span class="user">{{ idea.profile }}</span> on {{ idea.pub_date|date:"M d, Y" }} in {{ idea.category.title }}</p>
				<p class="description">{{ idea.description }}</p>
			</div>
		</a>

    {% empty %}
        <p>No kaizens submited yet. Want to <a href="{% url 'kaizen:addidea' %}">submit one?</a></p>

    {% endfor %}
    

{% endblock %}
