{% extends 'base.html' %}
{% load comments %}

{% block 'title' %} {{ idea.title }}{% endblock 'title' %}

{% block 'content' %}

<div>
	<h1>{{ idea.title }}</h1>
	<a href="{% url 'kaizen:updateidea' idea.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
	<a href="{% url 'kaizen:deleteidea' idea.id %}"><span class="glyphicon glyphicon-trash"></span></a>
	<p>Posted by {{ request.user }} on {{ idea.pub_date|date:"M d, Y" }}</p>
	<p>In category {{ idea.category.title }}</p>
	<p class="description">{{ idea.description }}</p>
</div>

{% get_comment_count for idea as comment_count %}
{% render_comment_list for idea %}

{% get_comment_form for idea as form %}
<form action="{% comment_form_target %}" method="post" class="form" role="for">
	{% csrf_token %}
	{{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
	<input type="hidden" name="next" value="{% url 'kaizen:ideadetail' idea.id %}" />
	<input type="submit" value="Add comment" id="id_submit" />
</form>

{% endblock 'content' %}
