{% extends 'base.html' %}

{% block 'title' %}{% if idea %}Update{% else %}Add{% endif %} Idea{% endblock %}

{% block 'content' %}

<form action="." method="post" class="form idea_form" role="form">
	{% csrf_token %}
	{% for field in form %}
		{% ifequal field.auto_id "id_status" %}
			{% if request.user.is_superuser %}
				<div class="form-group">
				{{ field.label_tag }}
				{{ field }}
				</div>
			{% endif %}
		{% else %}
			{{ field.label_tag }}
			{{ field }}
		{% endifequal %}
	{% endfor %}
	<button class="btn btn-primary">{% if idea %} Update {% else %} Add {% endif %}</button>
</form>

{% endblock 'content' %}
