body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	flex: 1;
}

#id_honeypot {
    display: none;
}

.navbar-inverse {
	background-color: rgba(64,64,64,1.0);
	border: none;
	border-radius: 0;
	padding: 10px 5px;
}

.navbar-brand {
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover {
	color: rgba(222,141,40,1.0);
}

.navbar-nav>li>a {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

.marker,
.kaizen {
	border: 2px solid rgba(64,64,64,1.0);
	border-radius: 5px;
	margin: 20px 0;
}

.marker h3,
.kaizen h3 {
	background-color: rgba(64,64,64,0.5);
	padding: 10px 40px;
	margin: 0;
	border-bottom: 2px solid rgba(64, 64, 64, 1.0);
}

.marker h3 {
	background-color: rgba(222,141,40,0.7);
}

.marker h4, .marker p,
.kaizen h4, .kaizen p {
	padding: 2px 40px;
	margin: 0;
}

.marker .status,
.kaizen .status {
	float: right;
	margin: 10px;
}

.marker .description,
.kaizen .description {
	font-size: 18px;
}

.user {
	color: rgba(35,186,210,1.0);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}

.stats {
	margin: 0;
	color: rgba(28,153,173,1.0);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.edit, .delete {
	font-size: 15px;
}

.detail_kaizen h1 {
	font-family: 'Josefin Sans', sans-serif;
	border-bottom: 2px solid rgba(64,64,64, 1.0);
}

.detail_kaizen .description {
	background-color: rgba(64,64,64,0.3);
	border-radius: 5px;
	padding: 15px;
}


.comment_form {
	background-color: rgba(64,64,64,1.0);
	color: rgba(157,157,157,1.0);
	padding: 15px;
	border-radius: 5px;
}

textarea {
	width: 100%;
	height: 100px;
}

.btn {
	margin: 10px 0;
}

.btn-default:focus,
.btn-default:hover {
	background-color: rgba(35,186,210,0.8);
	border: rgba(35,186,210,0.8);
	color: rgba(255,255,255,1.0);
}

.btn-default {
	background-color: rgba(35,186,210,1.0);
	border: rgba(35,186,210,1.0);
}

.btn-primary:focus,
.btn-primary:hover {
	background-color: rgba(222,141,40,0.8);
	border: rgba(222,141,40,0.8);
	color: rgba(255,255,255,1.0);
}

.btn-primary {
	background-color: rgba(222,141,40,1.0);
	border: rgba(222,141,40,1.0);
	color: black;
}

input[type="password"],
input[type="text"], textarea {
	display: block;
	width: 100%;
	border-radius: 4px;
	border: 2px inset;
	background-color: rgba(255,255,255,1.0);
}

form {
	background-color: rgba(64,64,64,1.0);
	border-radius: 5px;
	color: rgba(157,157,157,1.0);
	padding: 40px;
}

legend {
	color: rgba(157,157,157,1.0);
}

.forgot-password a,
.forgot-password a:hover {
	color: rgba(157,157,157,1.0);
	color: rgba(222,141,40,1.0);
}

footer {
	background-color: rgba(64,64,64,1.0);
	color: rgba(157,157,157,1.0);
	margin-top: 20px;
	padding-top: 20px;
}

