#id_honeypot {
	display: none;
}

#id_honeypot {
    display: none;
}

.navbar-invser {
	background-color: #404040;
	border: none;
	border-radius: 0;
}

body {
	color: orange;
	background-color: purple;
}
